
@media (min-width: 1200px) and (max-width: 1299px)  {   

}

@media (min-width: 992px) and (max-width:1199px){ 
 
  
}

@media (min-width: 768px) and (max-width: 991px) {
	

	
  	
}

@media (min-width: 481px) and (max-width: 767px) {
	
	
	
	

}

@media (max-width: 480px)  {
	.top-bar .phone, .top-bar .links{
		display:none;
	}
	
	.menu-principal-1,
	.menu-principal-2{
		
	}
	.topo .menu-principal a {	
		height: 30px;
		line-height: 30px;
		padding: 5px;		
	}
	
	.topo .menu-principal-b{
		float:left;
	}
	
	.portfolio-widget ul li{
		width:24%;
	}
	
	.home-blog-depoimentos{
		display:none;
	}
	
	#contato .container{ 
		padding-left:30px; 
		padding-right:30px;
	}
	
	footer .col-left .mascote{
		display:none;
	}

}


